body{
    background: url("/assets/champselysees_1920.jpg") fixed ;
}

main{
    background-color: blanchedalmond;
    text-align: center;
    align-self: center;
    width: 60%;
    border-radius: 20px;
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1{
    background-color: blanchedalmond;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 4rem;
    color: black;
    text-align: center;
    font-family: 'Times New Roman';
    border-radius: 20px;
}

.expoblabla{
    font-family: 'Times New Roman', Times, serif;
}

