body{
    background: url("/assets/champselysees_1920.jpg") fixed ;
}

main{
    border: 1px solid black;
    background-color: blanchedalmond;
    width: 90%;
    border-radius: 20px;
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1{
    background-color: blanchedalmond;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    color: black;
    text-align: center;
    font-family: 'Times New Roman';
    border-radius: 20px;
}

.expoblabla{
    border: 4px solid darkmagenta;
    font-family: 'Times New Roman', Times, serif;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    padding: 2%;
}

div{
    height: 500px;
    width: 200px;
    text-align: center;
    border: 1px solid black;
    margin: auto;
    padding: auto;
    text-align: center;
}



h3{
    width: 200px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p{
    width: 200px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
}

img{
    max-width: 150px;
    max-height: 150px;
    border-radius: 4px;
}

a{
    width: 200px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}